/* ------------------- wrapper -------------------*/
#wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    max-width: 960px; /* 2 */
    
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */

    border-style: solid;
    border-color: red;

    background-color: #5cdb95;
  }


/* -------------------- NAV ------------------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);

    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    max-width: 960px; /* 2 */
}

li {
    float: left;
}


li a {
    font-family: Muli;
    font-weight: 800;
    display: block;
    color: #05386b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #05386b;
}

.active {
    font-family: Muli;
    font-weight: 800;
    color: #5cdb95;
}


/* -------------------- Front page --------------------- */
img {  
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-family: Muli;
    color: #05386b;
    text-align: center;
    font-size: 56px;
}