/* -------------- responive designs ---------------*/
@media screen and (max-width: 755px) {

    /* from https://www.w3schools.com/css/tryit.asp?filename=trycss_mediaqueries_navbar */
    .topnav a {
      float: none;
      width: 100%;
    }

    /* change index page's wrapper to 100% in height */
    #wrapper{
        height: 100% !important;
    }

    /* change the grid system layout */
    .grid-container {
        display: grid;
        grid-template-areas:
        'portrait portrait portrait portrait portrait'
        'main main main main main'
        'experience experience experience experience experience';
      }

    #content{
        grid-row-start: 5;
        grid-column: span 2;
        margin-right: auto;
        margin-left: auto;
    }

    #list {
        font-size: 20px;
        text-align: center;
    }
    .experiences{
        font-size: 14px !important;
        text-align: left !important;
        text-decoration: none !important;
    }

}

/* to stablize the wbesite size for the grid system */

html, body {margin:0;padding:0;height:100%;}

/* ------------------- wrapper -------------------*/
#wrapper {
    margin-right: auto; 
    margin-left:  auto; 
  
    max-width: 100%; 
    height: 100%;
    
    
  
    padding-right: 10px; 
    padding-left:  10px; 

	color: #fff;
    background: linear-gradient(-45deg, #600185, #3bbfc3, #82f7bc);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    
    max-width: 1346px;

  }

  /* the design comes from https://codepen.io/P1N2O/pen/pyBNzX */

  @-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* background for the bio page  */
#wrapper1
{
    margin-right: auto; 
    margin-left:  auto; 
  
     
    width: auto;
    height: auto;
    
    
    padding-right: 10px; 
    padding-left:  10px;

    background-color: #f0f0f0;
    height: auto; 
    min-height: 768px;
    max-width: 1366px;
}

/* background for the gallery page  */
#wrapper2
{
    margin-right: auto; 
    margin-left:  auto; 
  
     
    width: auto;
    height: auto;
    
    
    padding-right: 10px; 
    padding-left:  10px;

    background-color: #f0f0f0;
    height: auto; 
    min-height: 768px;
    max-width: 1346px;
}

/* to hold everything in index page */
#holder {
    margin-left: auto;
    margin-right: auto;
}



/* -------------------- NAV ------------------------*/

/* from https://www.w3schools.com/css/tryit.asp?filename=trycss_mediaqueries_navbar */
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #292b2f;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

/* Style the topnav links */
.topnav a {
    font-family: Muli;
    font-weight: 800;
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: rgb(82, 82, 82);
    color: #3bbfc3;
}

/* ----------------- footer with the logo ---------------- */
#footerwrapper {
    overflow: hidden;
    background-color: #292b2f;
    max-width: 1386px;
    margin-left: -10px;
    margin-right: -10px;
}

/* -------------------- Front page --------------------- */

/* h1 style for the front page */
h1 {
    font-family: Muli;
    color: #ffffff;
    text-align: center;
    font-size: 56px;
}

/* for the logo picture */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* the three words to describe myself */
.frontbio {
    text-align: center;
    color: white;
    font-family: montserrat;
    font-size: 24px;
    font-weight: 700;
}

/* -------------------- P  --------------------- */


/* -------------------- Gallery Page --------------------- */

/* create a grid */
#gallery main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;

    width: 100%;
    margin: .5rem auto;
}


/* pictures for the gird */
#gallery img {
    display: block;
    /*width: 100%;*/

    border-radius: .5rem;
    border: 2px solid rgb(255, 255, 255);

}

/* bottom text of a indivdual picture */
figcaption {
    color: #ffffff;
    font-size: 14px;
    max-width: 600px;
    padding: 50px;
    margin: auto;
    text-align: left;
    font-family: montserrat;
}

@supports (display: grid) {
    #gallery .warning {
        display: none;
    }
}

/* The grid system came from the class lesson, but I added the lightbox concept
which heavily modifed from https://codepen.io/gschier/pen/HCoqh?editors=1100 */

/* width of between two pictures */
.thumbnail {
    max-width: 100%;
  }
  
  
  .italic { font-style: italic; }
  .small { font-size: 0.8em; }
  
  /** LIGHTBOX MARKUP **/
  
  .lightbox {
      /** Default lightbox to hidden */
      display: none;
  
      /** Position and style */
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.849);

      text-decoration: none;
  }
  
  .lightbox img {
      /** Pad the lightbox image */
      max-width: 75%;
      max-height: 65%;
      margin-top: 2%;
  }
  
  .lightbox:target {
      /** Remove default browser outline */
      outline: none;
  
      /** Unhide lightbox **/
      display: block;
  }


  

/* -------------------- Bio Page --------------------- */


/*The idea of grid system came from https://www.w3schools.com/css/css_grid.asp and the class lesson */

.item1 { grid-area: main; }
.item2 { grid-area: portrait; background-color: #3bbfc3;border-radius: 25px;}
.item3 { grid-area: experience; }

.grid-container {
  display: grid;
  grid-template-areas:
  'portrait portrait main main main'
  'portrait portrait experience experience experience'; 
  padding: 10px;
}
.grid-container > div {
  font-size: 30px;
}

/* for the brief summary*/
#wrapperbio1 {
    color: #292b2f;
    font-size: 18px;
    padding: 10px
}

/* experience bio */
#experiences {
    color: #312f2f;
    font-size: 18px;
    padding: 10px
}

/* h2 */
h2 {
    font-family: Muli !important;
    text-align: center;
    font-weight: 400;
    font-size: 56px;
}

#experienceText {
    color: #3bbfc3;
}

/* for each internship */
#itintern {
    margin-top: 5px;
    font-family: montserrat;
    text-align: left;
    padding: 5px;
}
#GDTM {
    margin-top: 5px;
    font-family: montserrat;
    text-align: left;
    padding: 5px;
}
#RP {
    margin-top: 5px;
    font-family: montserrat;
    text-align: left;
    padding: 5px;
}
  /* ----- list of skills ------ */
#list {
    font-size: 20px;
    padding: 10px;
    color: rgb(255, 255, 255) !important;
}

  
/* The concept of social media buttons came from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons */
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    box-sizing: content-box !important;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  
  
  .fa-instagram {
    background: #e1306c;
    color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  .fa-github {
    background: #6e5494;
    color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }

  .social {
    text-align: center;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }