/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    text-align: center;
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/

/* declare each area */
nav { grid-area: nav; }
header { grid-area: header; }
article { grid-area: article; }
aside { grid-area: aside; }
footer { grid-area: footer; }

.grid-container {
    
    margin-right: auto; 
    margin-left:  auto;
    max-width: 1200px;

    display: grid;
    grid-template-columns: 1fr 2fr 200px;
    grid-template-rows: 4rem 1fr 3rem;
    grid-template-areas:
    'header header header'
    'aside article nav'
    'footer footer footer';

    min-height: 100vh;
    min-width: 90vw;
}

@media only screen and (max-width: 600px) {

    .grid-container {
        margin-right: none; 
        margin-left: none;
    
        display: grid;
        grid-template-columns: none;
        grid-template-rows: none;

        min-width: 100vw;
        grid-template-areas:
        'header'
        'nav'
        'article'
        'aside'
        'footer';
        
    }

}

/* dropdown menu */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}