/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    text-align: center;
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/

#wrapper
{

    
}

/* declare each area */
nav { grid-area: nav; }
header { grid-area: header; }
article { grid-area: article; }
aside { grid-area: aside; }
footer { grid-area: footer; }

.grid-container {
    
    margin-right: auto; 
    margin-left:  auto;
    max-width: 1200px;

    display: grid;
    grid-template-columns: 1fr 2fr 200px;
    grid-template-rows: 4rem 1fr 3rem;
    grid-template-areas:
    'header header header'
    'aside article nav'
    'footer footer footer';

    min-height: 100vh;
    min-width: 90vw;
}

@media only screen and (max-width: 600px) {

    .grid-container {
        margin-right: none; 
        margin-left: none;
    
        display: grid;
        grid-template-columns: none;
        grid-template-rows: none;

        min-width: 100vw;
        grid-template-areas:
        'header'
        'nav'
        'article'
        'aside'
        'footer';
        
    }

}


ul { 
    height: 30px;
    width: 150px;
    border: 1px #000 solid;
}
ul li { padding: 5px 10px; z-index: 2; }
ul li:not(.init) { float: left; width: 130px; display: none; background: #ddd; }
ul li:not(.init):hover, ul li.selected:not(.init) { background: #09f; }
li.init { cursor: pointer; }

a#submit { z-index: 1; }